.MenuBulge_wrap {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.MenuBulge_wrap .MenuBulge_open, 
.MenuBulge_wrap .MenuBulge_close {
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.MenuBulge_wrap .MenuBulge_close {
    opacity: 0;
}

.MenuBulge_wrap .MenuBulge_open path {
    fill: var(--secondaryColor);
    stroke: none;
}

.MenuBulge_wrap .MenuBulge_close path {
    fill: white;
    stroke: none;
}

.MenuBackdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    pointer-events: none;
}

.MenuBackdrop path {
    fill: var(--secondaryColor);
}

.hamburgerMenu,
.CloseMenu {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) translateX(100px);
    width: 25px;
    height: 40px;
    z-index: 4;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.CloseMenu {
    opacity: 0;
}

.hamburgerMenu > span,
.CloseMenu > span {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.hamburgerMenu > span::after,
.hamburgerMenu > span::before {
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    border-radius: 10px;
    transform: translateY(-8px);
}

.hamburgerMenu > span::before {
    transform: translateY(8px);
}

.CloseMenu > span::after,
.CloseMenu > span::before {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--secondaryColor);
    z-index: 2;
    border-radius: 10px;
    transform-origin: center center;
    transform: rotate(45deg);
}

.CloseMenu > span::before {
    transform: rotate(-45deg);
}

.menuWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    padding: 6rem 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(100%);
}

.menuWrap_row {
    max-width: 1550px !important;
    width: 100% !important;
}

.MenuWrap_logo {
    width: 7rem;
}

.menuWrap ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuWrap ul li a {
    color: white;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.menuWrap ul li a:hover {
    transform: translateX(1rem);
}

.menuWrap ul li a::after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-150%) translateX(-1rem);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.menuWrap ul li a:hover::after {
    transform: translateY(-50%) translateX(-2rem);; 
    opacity: 1;
}

.menuWrap ul.socialLinks {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY( calc( 50vh - 2rem) );
    flex-direction: row;
}

.menuWrap ul.socialLinks li a,
.menuWrap ul.socialLinks li a:hover {
    font-size: 0.85rem;
    opacity: 0.5;
    transform: none;
}

.menuWrap ul.socialLinks li a::after {
    display: none;
}

.BackToTop_Wrap {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.BackToTop_Curve path {
    background: var(--secondaryColor);
    cursor: pointer;
}

.BackToTop_Wrap p {
    color: white;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 200px);
    font-size: 0.7rem;
    line-height: 1;
    margin: 0;
    pointer-events: none;
}

@media( max-width: 1240px ) {
    .MenuBulge_wrap .MenuBulge_open, 
    .MenuBulge_wrap .MenuBulge_close {
        display: none;
    }
    .MenuBulge_wrap {
        right: 6vw;
        top: 2rem;
        position: fixed;
    }
    .CloseMenu > span {
        background: transparent;
    }
    .CloseMenu > span::after,
    .CloseMenu > span::before {
        background: white;
    }
    .hamburgerMenu,
    .CloseMenu {
        position: absolute;
        top: -0.25rem;
        right: 0;
        transform: translateY(0%) translateX(100px);
    }
    .hamburgerMenu.onInnerPage > span,
    .hamburgerMenu.onInnerPage > span::after,
    .hamburgerMenu.onInnerPage > span::before {
        background: var(--secondaryColor);
    }
    
}

@media( max-width: 767px ) {
    .menuWrap ul li a {
        font-size: 2.25rem;
    }
    .menuWrap ul.socialLinks {
        position: static;
        transform: none;
        padding-top: 4rem !important;
    }
    .menuWrap ul.socialLinks li a {
        font-size: 0.8rem;
    }
    .menuWrap ul {
        gap: 1.5rem;
    }
    .menuWrap_row {
        row-gap: 4rem;
    }
    .menuWrap {
        padding-block: 5rem;
    }
}